.Card {
  width: 25%;
  padding: 3px;
  float: left;
  cursor: pointer;
}

.Back-image {
  transition: all .2s ease-in-out;
}
.Back-image:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@media screen and (max-width: 480px) {
    .Card {
        padding: 1px;
    }

    .Back-image:hover {
        transform: scale(1);
    }
}
