.NewGame {
  cursor: pointer;
  border: none;
  font-size: 1.8em;
  color: #ffffff;
  font-family: 'Pacifico', cursive;
  padding: 18px 35px 20px 35px;
  margin: 0 auto;
  width: 263px;
  border-radius: 31px;
  background-color: rgba(88, 91, 228, 0.86);
}

.hidden {
  display: none;
}

.NewGame:hover {
    opacity: 0.9;
    transform: scale(1.02);
}
