.NewGame {
  font-size: 2em;
  color: #2e7171;
  font-family: 'Pacifico', cursive;
  padding: 18px 35px 20px 35px;
  margin: 0 auto;
  width: 263px;
  border-radius: 31px;
  background-color: rgb(255, 241, 77);
}

.NewGame:hover {
    cursor: pointer;
    opacity: 0.7;
}
